<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9dad61c6-3172-4840-a680-122fdf12bbae" Publisher="CN=ali.sufiyan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Talkorama</DisplayName>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Talkorama.App">
      <VisualElements DisplayName="Talkorama" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Talkorama" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ff4500" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>